@model IEnumerable<Library.Data.Model.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfLibrary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

     var style = (item.NumberOfSits == 0) ? "background-color:red" : "";

        <tr style="@style">
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfLibrary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSits)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a>
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
